{% extends "base-sec.html" %}
{% load i18n %}
{% load notifications_tags %}

{% block section-title %}{% endblock %}
{% block section-id %}{% endblock %}
{% block section-content %}
    <h3>{% trans "Notifications" %}</h3>
    <div class="well">
        {% for notification in notifications %}
            {# <div class="well row"> #}
                {# <div class="col-md-8"> #}
                    {# actor_content_type: <p>{{ notification.actor_content_type }}</p> #}
                    {# verb: <p>{{ notification.verb }}</p> #}
                    {# timestamp: <p>{{ notification.timestamp }}</p> #}
                    {# description: <p>{{ notification.description }}</p> #}
                    {# emailed: <p>{{ notification.emailed }}</p> #}
                    {# level: <p>{{ notification.level }}</p> #}
                {# </div> #}
            {# </div> #}
            {{ notification }}
        {% endfor %}
    </div>
{% endblock %}