{% extends 'base-sec.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block section-title %}
    {% if user_entrie %}
        {{ user_entrie }}
    {% else %}
        {% trans 'Create User' %}
    {% endif %}
{% endblock %}

{% block section-content %}
    <form action="" method="post" class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class = " col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <button type="submit" class="btn btn-success ">{% trans 'Save User' %}</button>
            <a href="{% url 'entries-users' %}" role="button" class="btn btn-warning">
                {% trans 'Cancel' %}
            </a>
        </div>
    </form>

{% endblock %}