{% extends 'base-sec.html' %}
{% load i18n %}
{# formset 1 #}
{% load bootstrap3 %}

{% block section-id %}page-sake-sec{% endblock %}

{% block section-title %}
    {% if buyer.pk %}
        {{ buyer }}
    {% else %}
        {% trans 'New Sale' %}
    {% endif %}
{% endblock %}

{% block section-content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% if productpk %}
            <input type="hidden" name="productpk" value="{{ productpk }}">
        {% endif %}
        <h3>{% trans 'Buyer' %}</h3>
        <div class="well">
            <div class="row">
                {% for field in form %}
                    {% bootstrap_field field form_group_class='form-group col-md-4' %}
                {% endfor %}
            </div>
        </div>
        <h3>{% trans 'Address' %}</h3>
        <div class="well">
            <div class="row">
                {{ addressbuyer.management_form }}
                {% for form in addressbuyer.forms %}
                    {% for field in form %}
                        {% bootstrap_field field form_group_class='form-group col-md-4' %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        {% if show_all %}
            <h3>{% trans 'Deadline' %}</h3>
            <div class="well">
                <div class="row">
                    {{ deadlinesale.management_form }}
                    {% for form in deadlinesale.forms %}

                        {% for field in form %}
                            {% bootstrap_field field form_group_class='form-group col-md-4' %}
                        {% endfor %}
                    {% endfor %}
                    {% for question in questiondeadline %}
                        {% if question.type_data = 'input' or question.type_data = 'link' or question.type_data = 'float' or question.type_data = 'percent' or question.type_data = 'date' or question.type_data = 'number'%}
                            <div class="form-group col-md-4">
                                <label class="control-label" for="{{ q_name }}">
                                    {% if question.is_required %}
                                    <strong>{{ question.name }}</strong>
                                    {% else %}{{ question.name }}
                                    {% endif %}
                                </label>
                                <input type="{% if question.type_data = 'number' %}number{% else %}text{% endif %}" name="q_resp-{{ question.pk }}" id="q_resp-{{ question.pk }}"
                                       title="{{ question.hint }}"
                                       placeholder="{{ question.name }}"
                                       class="form-control mask-{{ question.type_data }}"
                                       value="{{ question.value|default_if_none:question.default_value }}"
                                       {% if question.is_required %}required{% endif %}>
                            </div>
                        {% elif question.type_data = 'checkbox' %}
                            <div class="form-group col-md-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="q_resp-{{ question.pk }}"
                                               title="{{ question.hint }}"
                                               placeholder="{{ question.name }}"
                                               id="q_resp-{{ question.pk }}">
                                    {% if question.is_required %}
                                        <strong>{{ question.name }}</strong>
                                    {% else %}{{ question.name }}
                                    {% endif %}

                                    </label>
                                </div>
                            </div>
                        {% elif question.type_data = 'select' %}
                            <div class="form-group col-md-4">
                                <label class="control-label" for="{{ q_name }}">
                                    {% if question.is_required %}
                                    <strong>{{ question.name }}</strong>
                                    {% else %}{{ question.name }}
                                    {% endif %}
                                </label>
                                <select title="{{ question.hint }}" class="form-control" name="q_resp-{{ question.pk }}"
                                        id="q_resp-{{ question.pk }}" {% if question.is_required %}required{% endif %}>
                                    <option value="">---------</option>
                                    {% for opt in question.domain_set.all %}
                                        <option value="{{ opt }}">{{ opt }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% elif question.type_data = 'text' %}
                            <div class="form-group col-md-12">
                            <label class="control-label" for="{{ q_name }}">
                                {% if question.is_required %}
                                <strong>{{ question.name }}</strong>
                                {% else %}{{ question.name }}
                                {% endif %}
                            </label>
                            <textarea class="form-control" rows="3" name="q_resp-{{ question.pk }}" id="q_resp-{{ question.pk }}"></textarea>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>
                            {% trans 'Details' %}
                        </h4>
                    </div>
                    <div class="col-md-12">
                        <div id="detail_empty_form" style="display: none" class="row">
                            <div data-toggle="collapse" data-target="#{{ detail_deadline.empty_form.prefix }}-f"
                                 class="accordion-toggle col-md-10">
                                <div id="{{detail_deadline.empty_form.name.html_name}}-label">
                                    {% trans '(Empty)' as name_value %}
                                    {{ detail_deadline.empty_form.name.value|default_if_none:name_value }}
                                </div>
                            </div>
                            <div class="accordian-body collapse" id="{{ detail_deadline.empty_form.prefix }}-f">
                                {% for field in detail_deadline.empty_form %}
                                    <div class="col-md-4">
                                        {% bootstrap_field field %}
                                    </div>
                                {% endfor %}
                                <div class="col-md-12">
                                    <button data-toggle="collapse" data-target="#{{ detail_deadline.empty_form.prefix }}-f"
                                            type="button" class="btn btn-info accordion-toggle save-detail"
                                            updatelabel="{{ detail_deadline.empty_form.name.html_name }}">
                                        {% trans 'Save' %}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="detail_deadline">
                            {% for form in detail_deadline.forms %}
                                <div class="row" id="{{ form.prefix }}-row">
                                    <div data-toggle="collapse" data-target="#{{ form.prefix }}-f"
                                         class="accordion-toggle col-md-10">
                                        <div id="{{form.name.html_name}}-label">
                                            {% trans '(Empty)' as name_value %}
                                            {{ form.name.value|default_if_none:name_value }}
                                        </div>
                                    </div>
                                    <div class="accordian-body collapse" id="{{ form.prefix }}-f">
                                        {% for field in form %}
                                            <div class="col-md-4">
                                                {% bootstrap_field field %}
                                            </div>
                                        {% endfor %}
                                        <div class="col-md-12">
                                            <button data-toggle="collapse" data-target="#{{ form.prefix }}-f"
                                                    type="button" class="btn btn-info accordion-toggle save-detail"
                                                    updatelabel="{{ form.name.html_name }}">
                                                {% trans 'Save' %}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {{ detail_deadline.management_form }}
                    </div>
                </div>
            </div>
        {% endif %}

        <h3>{% trans 'Attachements' %}</h3>
        <div class="well">
            <div class="thumbnail col-md-3" style="display: none" id="file_empty_form">
                <div class="caption">
                {% bootstrap_field filedeadline.empty_form.file_type %}
                {% bootstrap_field filedeadline.empty_form.document %}
                </div>
            </div>
            {{ filedeadline.management_form }}
            <div id="filedeadline_formset">
                <div class="row">
                    {% for f in filedeadline %}
                        <div class="thumbnail col-md-3" id="{{f.prefix}}-row">
                            {% if f.file_type.value  %}
                                <h3>{{ f.file_type.value }}</h3>
                            {% else %}
                                {% bootstrap_field f.file_type %}
                            {% endif %}
                            <p>
                                {% if f.document.url %}
                                    <a href="{{f.document.url}}" target="_blank"><span class="fa fa-file-o"></span></a>
                                {% else %}
                                    {% bootstrap_field filedeadline.empty_form.document layout="inline" %}
                                {% endif %}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% trans 'Save' as save_text %}
                {% bootstrap_button save_text button_type="submit" button_class="btn-success pull-right" icon="ok" %}
                {% url 'index_view' as href_cancel_btn %}
                {% trans 'Cancel' as cancel_text %}
                {% bootstrap_button cancel_text href=href_cancel_btn button_class="btn-danger pull-left" icon="remove" %}
            </div>
        </div>

    </form>
{% endblock %}