{% extends "base-sec.html" %}
{% load i18n %}


{% block section-id %}sec-products{% endblock %}
{% block section-title %}{% trans 'Products' %}{% endblock %}
{% block section-desc %}
    <p>{% trans "O banco Sofisa oferece Produtos e Serviços para clientes Pessoa Física e Jurídica de forma online, segura e sem burocracia. Conheça mais abaixo" %}</p>
{% endblock %}


{% block section_content %}
    {% for product in home_product %}
        <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="200ms"> <i class="fa fa-desktop"></i>
            <h4><strong>{{ product.name }}</strong></h4>
            <p>{{ product.description }}</p>
        </div>
    {% endfor %}
{% endblock %}