<div id="footer">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 wow fadeInUp" data-wow-delay="200ms">
      <div class="col-md-4">
        <a href="#adress" class="page-scroll">
            <i class="fa fa-map-marker fa-2x"></i>
            <p>Endereço</p>
        </a>
      </div>
      <div class="col-md-4">
        <a href="#services-section" class="page-scroll">
            <i class="fa fa-envelope-o fa-2x"></i>
            <p>Fale Conosco</p>
        </a>
      </div>
      <div class="col-md-4">
        <a href="#SAC" class="page-scroll">
            <i class="fa fa-phone fa-2x"></i>
            <p>Telefone e SAC</p>
        </a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container">
      <p>Todos os direitos reservados. powered by
            <a href="http://www.lightstudios.com.br" rel="nofollow">Light Studios</a> &
            <a href="http://www.galcorr.com.br/" rel="nofollow">GalCorr</a>
      </p>
  </div>
</div>
