<hr class="featurette-divider">

<!-- Footer -->

<!-- Contact Section -->
<div id="contact-section" class="text-center">
  <div class="container">
    <div class="section-title wow fadeInDown">
      <h2><strong>Entre em contado com a </strong> Sofisa</h2>
    </div>
    <div class="col-md-8 col-md-offset-2 wow fadeInUp" data-wow-delay="400ms">
	<h3>Nos envie uma mensagem</h3>
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Seu nome">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Seu E-mail">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Escreva uma mensagem para nós"></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-default">Envie sua Mensagem</button>
      </form>
      <div class="social">
        <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 wow fadeInUp" data-wow-delay="200ms">
      <div class="col-md-4">
        <a href="#adress" class="page-scroll">
            <i class="fa fa-map-marker fa-2x"></i>
            <p>Endereço</p>
        </a>
      </div>
      <div class="col-md-4">
        <a href="#adress" class="page-scroll">
            <i class="fa fa-envelope-o fa-2x"></i>
            <p>Fale Conosco</p>
        </a>
      </div>
      <div class="col-md-4">
        <a href="#adress" class="page-scroll">
            <i class="fa fa-phone fa-2x"></i>
            <p>Telefone e SAC</p>
        </a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container">
      <p>Todos os direitos reservados. powered by
            <a href="http://www.lightstudios.com.br" rel="nofollow">Light Studios</a> &
            <a href="http://www.galcorr.com.br/" rel="nofollow">GalCorr</a>
      </p>
  </div>
</div>
