{% load i18n %}
{% load static %}


<nav id="menu" class="navbar navbar-default navbar-fixed-top on">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="logo-header" class="navbar-brand" href="/">
            <img  src="{% static 'img/partner-sofisa/logo_sofisa-g.png' %}" alt="">
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home" class="page-scroll">{% trans "Home" %}</a></li>
        <li class=""><a href="#entries" class="page-scroll">{% trans "Cadastros" %}</a></li>
        <li class=""><a href="#notifications" class="page-scroll">{% trans "Notificações" %}</a></li>
        <li class=""><a href="#products" class="page-scroll">{% trans "Produtos" %}</a></li>
        <li class=""><a href="#dashBoard" class="page-scroll">{% trans "DashBoard" %}</a></li>
        <li class=""><a href="#production" class="page-scroll">{% trans "Produção" %}</a></li>
        <li class=""><a href="#SAC" class="page-scroll">{% trans "SAC" %}</a></li>
        <li class=""><a href="#pefil" class="page-scroll">{% trans "Meu Perfil" %}</a></li>
        <li class=""><a href="#logout" class="page-scroll">{% trans "Sair" %}</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>