{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}}
         {% include "sections/products.html" %}
    {% else %}}
        {% include "sections/index-slider.html" %}
    {% endif %}
{% endblock %}


{% block footer_scripts %}
    <script>
        ctrlCloseProduct = function(){
            $('.product-show').hide(400);
        }
        $('.product-href').click(function(){
            ctrlCloseProduct();
            $('#' + $(this).attr('data-href') )
                 // .removeClass('hidden')
                 .show(400);
        });
        $('.close-product').click(ctrlCloseProduct);
    </script>
{%  endblock %}