{% extends "base.html" %}

{% block content %}
{#    {% if user.is_authenticated %}#}
{#        {% include "sections/about.html" %}#}
{#    {% endif %}#}
    {% include "sections/products.html" %}
{#    {% if user.is_authenticated %}#}
{#        {% include "sections/contact.html" %}#}
{#    {% endif %}#}
{% endblock %}

{% block footer_scripts %}
    <script>
        $('.product-href').click(function(){
            $('.product-show').hide(400);
            $('#' + $(this).attr('data-href') )
                 .removeClass('hidden')
                 .show(400);
        });
        $(".button-collapse").sideNav();
    </script>
{%  endblock %}