{% extends 'base-sec.html' %}
{% load i18n %}

{% block section-title %}{% trans 'Profiles' %}{% endblock %}
{% block section-id %}user-profiles{% endblock %}

{% block section-content %}
    {% if user.is_authenticated and  user.is_superuser %}
        <div class="row">
            <div class="text-left col-md-12">
                <marquee scrolldelay="1" autospeed>
                    <a href="{% url 'entries-profiles-new' %}" class="btn btn-info" role="button">
                        <span class="fa fa-plus"></span>
                    </a>
                </marquee>
            </div>
        </div>
    {% endif %}

    <div class="row">
    {% for profile in profiles %}
        <div class="col-md-4 col-centered">
            <div class="thumbnail">
                <div class="caption">
                <h3>{{ profile.name }}</h3>
                <p>
                    <a href="{% url 'entries-profiles-edit' profile.pk %}"
                       class="btn btn-primary" role="button">{% trans 'Edit Profile' %}</a>
                </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}