{% extends 'base-sec.html' %}
{% load i18n %}

{% block section-title %}
    <li><a href="/">{% trans 'Home' %}</a></li>
    <li><a href="/entries">{% trans 'Entries' %}</a></li>
    <li class="active"><b>{% trans 'Profiles' %}</b></li>
{% endblock %}
{% block section-id %}user-profiles{% endblock %}


{% block section-content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
        </div>
        <div class="row text-center">
            <div class="col-md-12 ">
                <form method="get" action="" id="entries-search-form">{% csrf_token %}
                    <div class="input-group">
                      <input type="text" id="search-input" name="search-input" class="form-control" placeholder="{% trans 'Search for a Profile' %}">
                      <span class="input-group-btn">
                        <button class="btn btn-info" type="submit">
                            <span class="fa fa-search"></span>
                        </button>
                        <a role="button" class="btn btn-primary" href="{% url 'entries-profiles-new' %}">
                              <span class="fa fa-plus"></span>
                        </a>
                      </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="space"></div>
        <div class="row">
            {% for profile in profiles %}
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 ">
                    <div class="thumbnail entries-box-sm">
                        <div class="caption">
                        <h4>{{ profile.name }}</h4>
                        <p><a href="{% url 'entries-profiles-edit' profile.pk %}" class="btn btn-primary" role="button">{% trans 'Edit Profile' %}</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
