{% extends 'base-sec.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block section-id %}{% endblock %}
{% block section-title %}
    {% if profile.pk %}
        {% trans 'Edit Role' %}
    {% else %}
        {% trans 'Create Role' %}
    {% endif %}
{% endblock %}
{% block section-content %}
    <form action="" method="post" xmlns="http://www.w3.org/1999/html">{% csrf_token %}
        <div class="space"></div>
        <div class="container">
                {% bootstrap_field form.name %}
            <div class="row">
                <div class="col-md-12">
                    <h4>{% trans "Permissions of Menu" %}</h4><hr />
                </div>
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class=" form-group ">
                        <input type="checkbox" name="checkbox-products" id="checkbox-products" autocomplete="off" />
                        <div class=" btn-group ">
                            <label for="checkbox-products" class=" btn btn-primary ">
                                <span class=" glyphicon glyphicon-ok "></span>
                                <span> </span>
                            </label>
                            <label for="checkbox-products" class=" btn btn-primary active ">
                                {% trans "Products" %}
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class=" form-group ">
                        <input type="checkbox" name="checkbox-dashboard" id="checkbox-dashboard" autocomplete="off" />
                        <div class=" btn-group ">
                            <label for="checkbox-dashboard" class=" btn btn-primary ">
                                <span class=" glyphicon glyphicon-ok "></span>
                                <span> </span>
                            </label>
                            <label for="checkbox-dashboard" class=" btn btn-primary active ">
                                {% trans "Dashboard" %}
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class=" form-group ">
                        <input type="checkbox" name="checkbox-production" id="checkbox-production" autocomplete="off" />
                        <div class=" btn-group ">
                            <label for="checkbox-production" class=" btn btn-primary ">
                                <span class=" glyphicon glyphicon-ok "></span>
                                <span> </span>
                            </label>
                            <label for="checkbox-production" class=" btn btn-primary active ">
                                {% trans "Production" %}
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class=" form-group ">
                        <input type="checkbox" name="checkbox-entries" id="checkbox-entries" autocomplete="off" />
                        <div class=" btn-group ">
                            <label for="checkbox-entries" class=" btn btn-primary ">
                                <span class=" glyphicon glyphicon-ok "></span>
                                <span> </span>
                            </label>
                            <label for="checkbox-entries" class=" btn btn-primary active ">
                                {% trans "Entries" %}
                            </label>
                        </div>
                    </div>
                    <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class=" form-group ">
                            <input type="checkbox" name="checkbox-entries-users" id="checkbox-entries-users" autocomplete="off" />
                            <div class=" btn-group ">
                                <label for="checkbox-entries-users" class=" btn btn-primary active ">
                                    <span class=" glyphicon glyphicon-ok "></span>
                                    <span> </span>
                                </label>
                                <label for="checkbox-entries-users" class=" btn btn-default active ">
                                    {% trans "Users" %}
                                </label>
                            </div>
                        </div>
                        <div class=" form-group ">
                            <input type="checkbox" name="checkbox-entries-profile" id="checkbox-entries-profile" autocomplete="off" />
                            <div class=" btn-group ">
                                <label for="checkbox-entries-profile" class=" btn btn-primary active ">
                                    <span class=" glyphicon glyphicon-ok "></span>
                                    <span> </span>
                                </label>
                                <label for="checkbox-entries-users" class=" btn btn-default active ">
                                    {% trans "Profiles" %}
                                </label>
                            </div>
                        </div>
                        <div class=" form-group ">
                            <input type="checkbox" name="checkbox-entries-partners" id="checkbox-entries-partners" autocomplete="off" />
                            <div class=" btn-group ">
                                <label for="checkbox-entries-partners" class=" btn btn-primary active ">
                                    <span class=" glyphicon glyphicon-ok "></span>
                                    <span> </span>
                                </label>
                                <label for="checkbox-entries-partners" class=" btn btn-default active ">
                                    {% trans "Partners" %}
                                </label>
                            </div>
                        </div>
                        <div class=" form-group ">
                            <input type="checkbox" name="checkbox-entries-products" id="checkbox-entries-products" autocomplete="off" />
                            <div class=" btn-group ">
                                <label for="checkbox-entries-products" class=" btn btn-primary active ">
                                    <span class=" glyphicon glyphicon-ok "></span>
                                    <span> </span>
                                </label>
                                <label for="checkbox-entries-products" class=" btn btn-default active ">
                                    {% trans "Products" %}
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class=" form-group ">
                        <input type="checkbox" name="checkbox-notifications" id="checkbox-notifications" autocomplete="off" />
                        <div class=" btn-group ">
                            <label for="checkbox-notifications" class=" btn btn-primary ">
                                <span class=" glyphicon glyphicon-ok "></span>
                                <span> </span>
                            </label>
                            <label for="checkbox-notifications" class=" btn btn-primary active ">
                                {% trans "Notifications" %}
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class=" form-group ">
                        <input type="checkbox" name="checkbox-profile" id="checkbox-profile" autocomplete="off" />
                        <div class=" btn-group ">
                            <label for="checkbox-profile" class=" btn btn-primary ">
                                <span class=" glyphicon glyphicon-ok "></span>
                                <span> </span>
                            </label>
                            <label for="checkbox-profile" class=" btn btn-primary active ">
                                {% trans "My Profile" %}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% if products_j %}
                        <div class = " col-xs-12 col-sm-12 col-md-12 col-lg-12 " id = "products-pj">
                            <div class="col-md-12">
                                <h4>{% trans "For Companies" %}</h4>
                            </div>
                            <hr>
                            {% for product in products_j %}
                                <div class = "product-pj">
                                    <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                        <div class=" form-group ">
                                            <input type="checkbox" name="checkbox-products-pj{{ product.pk }}" id="checkbox-products-pj{{ product.pk }}" autocomplete="off" />
                                            <div class=" btn-group ">
                                                <label for="checkbox-products-pj{{ product.pk }}" class=" btn btn-primary " >
                                                    <span class=" glyphicon glyphicon-ok "></span>
                                                    <span> </span>
                                                </label>
                                                <label for="checkbox-products-pj{{ product.pk }}" class=" btn btn-default active ">
                                                    {{ product.name }}
                                                </label>
                                            </div>
                                        </div>
                                     </div>
                                </div>
                            {% endfor %}
                        </div>
                {% endif %}
                {% if products_f %}
                        <div class = " col-xs-12 col-sm-12 col-md-12 col-lg-12" id = "products-pf">
                            <div class="col-md-12">
                                <h4>{% trans "For People" %}</h4>
                            </div>
                            <hr>
                            {% for product in products_f %}
                                <div class = "product-pf">
                                    <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                        <div class=" form-group ">
                                            <input type="checkbox" name="checkbox-products-pf{{ product.pk }}" id="checkbox-products-pf{{ product.pk }}" autocomplete="off" />
                                            <div class=" btn-group ">
                                                <label for="checkbox-products-pf{{ product.pk }}" class=" btn btn-primary ">
                                                    <span class=" glyphicon glyphicon-ok "></span>
                                                    <span> </span>
                                                </label>
                                                <label for="checkbox-products-pf{{ product.pk }}" class=" btn btn-default active ">
                                                    {{ product.name }}
                                                </label>
                                            </div>
                                        </div>
                                     </div>
                                </div>
                            {% endfor %}
                        </div>
                {% endif %}
            </div>
            <div class="row">
                {% if status %}
                    <div class = " col-xs-12 col-sm-12 col-md-12 col-lg-12" id = "status-see">
                        <div class="col-md-12">
                            <h4>{% trans "Status See" %}</h4>
                        </div>
                        <hr>
                        {% for st in status %}
                            <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class=" form-group ">
                                    <input type="checkbox" name="checkbox-status-see{{ st.pk }}" id="checkbox-status-see{{ st.pk }}" autocomplete="off" />
                                    <div class=" btn-group ">
                                        <label for="checkbox-status-see{{ st.pk }}" class=" btn btn-info ">
                                            <span class=" glyphicon glyphicon-ok "></span>
                                            <span> </span>
                                        </label>
                                        <label for="checkbox-status-see{{ st.pk }}" class=" btn btn-default active ">
                                            {{ st.name }}
                                        </label>
                                    </div>
                                </div>
                             </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="row">
                {% if status %}
                    <div class = " col-xs-12 col-sm-12 col-md-12 col-lg-12" id = "status-edit">
                        <div class="col-md-12">
                            <h4>{% trans "Status Edit" %}</h4>
                        </div>
                        <hr>
                        {% for st in status %}
                            <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class=" form-group ">
                                    <input type="checkbox" name="checkbox-status-edit{{ st.pk }}" id="checkbox-status-edit{{ st.pk }}" autocomplete="off" />
                                    <div class=" btn-group ">
                                        <label for="checkbox-status-edit{{ st.pk }}" class=" btn btn-info ">
                                            <span class=" glyphicon glyphicon-ok "></span>
                                            <span> </span>
                                        </label>
                                        <label for="checkbox-status-edit{{ st.pk }}" class=" btn btn-default active ">
                                            {{ st.name }}
                                        </label>
                                    </div>
                                </div>
                             </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="row">
                {% if status %}
                    <div class = " col-xs-12 col-sm-12 col-md-12 col-lg-12" id = "status-set">
                        <div class="col-md-12">
                            <h4>{% trans "Status Set" %}</h4>
                        </div>
                        <hr>
                        {% for st in status %}
                            <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class=" form-group ">
                                    <input type="checkbox" name="checkbox-status-set{{ st.pk }}" id="checkbox-status-set{{ st.pk }}" autocomplete="off" />
                                    <div class=" btn-group ">
                                        <label for="checkbox-status-set{{ st.pk }}" class=" btn btn-info ">
                                            <span class=" glyphicon glyphicon-ok "></span>
                                            <span> </span>
                                        </label>
                                        <label for="checkbox-status-set{{ st.pk }}" class=" btn btn-default active ">
                                            {{ st.name }}
                                        </label>
                                    </div>
                                </div>
                             </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="row">
                {% if files %}
                    <div class = " col-xs-12 col-sm-12 col-md-12 col-lg-12" id = "profiles-see">
                        <div class="col-md-12">
                            <h4>{% trans "The user can see the production in those profiles" %}</h4>
                        </div>
                        <hr>
                        {% for profile in profiles %}
                            <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class=" form-group ">
                                    <input type="checkbox" name="checkbox-profiles-see{{ profile.pk }}" id="checkbox-profiles-see{{ profile.pk }}" autocomplete="off" />
                                    <div class=" btn-group ">
                                        <label for="checkbox-profiles-see{{ profile.pk }}" class=" btn btn-warning ">
                                            <span class=" glyphicon glyphicon-ok "></span>
                                            <span class=" glyphicon glyphicon-user "></span>
                                            <span> </span>
                                        </label>
                                        <label for="checkbox-profiles-see{{ profile.pk }}" class=" btn btn-default active ">
                                            {{ profile.name }}
                                        </label>
                                    </div>
                                </div>
                             </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="row">
                {% if files %}
                    <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" id = "files-see">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h4>{% trans "Files See" %}</h4>
                        </div>
                        <hr>
                        {% for file in files %}
                            <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class=" form-group ">
                                    <input type="checkbox" name="checkbox-files-see{{ file.pk }}" id="checkbox-files-see{{ file.pk }}" autocomplete="off" />
                                    <div class=" btn-group ">
                                        <label for="checkbox-files-see{{ file.pk }}" class=" btn btn-info ">
                                            <span class=" glyphicon glyphicon-ok "></span>
                                            <span class=" glyphicon glyphicon-file "></span>
                                            <span> </span>
                                        </label>
                                        <label for="checkbox-files-see{{ file.pk }}" class=" btn btn-default active ">
                                            {{ file.name }}
                                        </label>
                                    </div>
                                </div>
                             </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="row">
                {% if files %}
                    <div class = " col-xs-12 col-sm-12 col-md-12 col-lg-12" id = "files-download">
                        <div class="col-md-12">
                            <h4>{% trans "Files Download" %}</h4>
                        </div>
                        <hr>
                        {% for file in files %}
                            <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class=" form-group ">
                                    <input type="checkbox" name="checkbox-files-download{{ file.pk }}" id="checkbox-files-download{{ file.pk }}" autocomplete="off" />
                                    <div class=" btn-group ">
                                        <label for="checkbox-files-download{{ file.pk }}" class=" btn btn-info ">
                                            <span class=" glyphicon glyphicon-ok "></span>
                                            <span class=" glyphicon glyphicon-file "></span>
                                            <span> </span>
                                        </label>
                                        <label for="checkbox-files-download{{ file.pk }}" class=" btn btn-default active ">
                                            {{ file.name }}
                                        </label>
                                    </div>
                                </div>
                             </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class = " col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <button type="submit" class="btn btn-success">{% trans 'Save Role' %}</button>
                <a href="{% url 'entries-users' %}" role="button" class="btn btn-warning">
                    {% trans 'Cancel' %}
                </a>
                <div class="space"></div>
            </div>
    </form>
{% endblock %}
