{% extends 'base-sec.html' %}

{% load i18n %}
{# formset 1 #}
{% load bootstrap3 %}
{% load account %}

{% block section-id %}page-sake-sec{% endblock %}
{% block section-title %}
    <li><a href="/">{% trans 'Home' %}</a></li>
    <li><a href="/">{% trans 'Products' %}</a></li>
    <li class="active"><b>{% trans 'Contract' %}</b></li>
{% endblock %}


{% block section-content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% if product.pk %}
            <input type="hidden" name="productpk" value="{{ product.pk }}">
        {% endif %}
        <div class="well">
        <div class="row">
            <div class="col-md-6">
                <p><b>{% trans "Product" %}</b>: {{ product }}</p>
                <p><b>{% trans "Sale Owner" %}</b>: {{ sale.owner|default:user }}</p>
                <p><b>{% trans "Status" %}</b>:
                    {% if sale.pk %}{{ deadline.status }}{% else %}{{ status_deadline }}{% endif %}
                </p>
                {% if not product.is_lead %}
                    <p><b>{% trans "Insurance" %}</b>: {{ product.insurance_company.name }}<br></p>
                {% endif %}
            </div>
        </div>
        </div>
        <h2>{% trans 'Buyer' %}</h2>
        <div class="well">
            <div class="row">
                <input type="hidden" name="{{form.kind_person.html_name}}" value="{{product.kind_person}}">
                {% if product.kind_person == 'F' %}
                    <div class="form-group col-md-6 mask-cpf form-required">
                        <label class="control-label" for="id_{{form.cpf_cnpj.html_name}}">CPF</label>
                        <input class="form-control cpf_cnpj-auto"
                                id="id_{{form.cpf_cnpj.html_name}}"
                                maxlength="{{form.cpf_cnpj.max_length}}"
                                name="{{form.cpf_cnpj.html_name}}"
                                value="{{form.cpf_cnpj.value}}"
                                placeholder="CPF" required="required" title="" type="text">
                    </div>
                    {% bootstrap_field form.name form_group_class='form-group col-md-6' %}
                    {% bootstrap_field form.phone form_group_class='form-group col-md-6 mask-phone' %}
                    {% bootstrap_field form.email form_group_class='form-group col-md-6' %}
                {% else %}
                    <div class="form-group col-md-4 mask-cnpj form-required">
                        <label class="control-label" for="id_{{form.cpf_cnpj.html_name}}">CNPJ</label>
                        <input class="form-control cpf_cnpj-auto"
                                id="id_{{form.cpf_cnpj.html_name}}"
                                maxlength="{{form.cpf_cnpj.max_length}}"
                                name="{{form.cpf_cnpj.html_name}}"
                                value="{{form.cpf_cnpj.value}}"
                                placeholder="CNPJ" required="required" title="" type="text">
                    </div>
                    {% bootstrap_field form.responsible form_group_class='form-group col-md-4 form-required' %}
                    {% bootstrap_field form.activity_area form_group_class='form-group col-md-4 form-required' %}
                    {% bootstrap_field form.name form_group_class='form-group col-md-4' %}
                    {% bootstrap_field form.phone form_group_class='form-group col-md-4 mask-phone' %}
                    {% bootstrap_field form.email form_group_class='form-group col-md-4' %}
                {% endif %}
        </div>
    </div>
    <h2>{% trans 'Address' %}</h2>
    <div class="well">
        <div class="row">
            {{ addressbuyer.management_form }}
            {% bootstrap_field addressbuyer.0.postal_code form_group_class="form-group col-md-3 mask-cep cep-auto" %}
            {# <div class="clearfix"></div> #}
            {% bootstrap_field addressbuyer.0.state form_group_class="form-group col-md-3" %}
            {% bootstrap_field addressbuyer.0.city form_group_class="form-group col-md-3" %}
            {% bootstrap_field addressbuyer.0.district form_group_class="form-group col-md-3" %}
            {% bootstrap_field addressbuyer.0.street form_group_class="form-group col-md-6" %}
            {% bootstrap_field addressbuyer.0.number form_group_class="form-group col-md-3 mask-number" %}
            {% bootstrap_field addressbuyer.0.complement form_group_class="form-group col-md-3" %}
            {{ addressbuyer.0.id }}
            {{ addressbuyer.0.buyer }}
            {# {% for form in addressbuyer.forms %} #}
                {# {% for field in form %} #}
                    {# {% bootstrap_field field form_group_class='form-group col-md-4' %} #}
                {# {% endfor %} #}
            {# {% endfor %} #}
        </div>
    </div>
    {% if show_all %}
        <h2>{% if product.is_lead %}
                {% trans "Lead of" %}
            {% else %}
                {% trans "Quotation of" %}
            {% endif %}
            {{product}}
        </h2>
        <div class="well">
            <div class="row">
                {{ deadlinesale.management_form }}

                {% if not product.is_lead %}
                    {% bootstrap_field deadlinesale.0.payment form_group_class='form-group col-md-6 mask-float' type="text" %}
                    {% bootstrap_field deadlinesale.0.lives form_group_class='form-group col-md-6' %}
                    {% bootstrap_field deadlinesale.0.method_payment form_group_class='form-group col-md-6' set_disabled=True %}
                    {% bootstrap_field deadlinesale.0.insured_group form_group_class='form-group col-md-6' set_disabled=True %}
                    {% bootstrap_field deadlinesale.0.insured_capital form_group_class='form-group col-md-3 mask-float' set_disabled=True %}
                    {% bootstrap_field deadlinesale.0.rate_per_thousand form_group_class='form-group col-md-3' set_disabled=True %}
                    {% bootstrap_field deadlinesale.0.costing form_group_class='form-group col-md-3' set_disabled=True %}
                    {% bootstrap_field deadlinesale.0.revenues form_group_class='form-group col-md-3 disabledTextInput' set_disabled=True %}
                    {% bootstrap_field deadlinesale.0.begin form_group_class='form-group col-md-3 mask-date' %}
                    {% bootstrap_field deadlinesale.0.end form_group_class='form-group col-md-3  mask-date' %}
                    {% bootstrap_field deadlinesale.0.proposal form_group_class='form-group col-md-3' %}
                    {% bootstrap_field deadlinesale.0.policy form_group_class='form-group col-md-3' %}
                    {#   coberturas aqui  #}
                    {% if rules %}
                        <div class="table-default">
                                <div class="row">
                                    <section class="content">
                                        <div class="col-md-12">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="table-container">
                                                        <h4 class="title"> {% trans "Clauses" %} </h4>
                                                        <table class="table table-striped">
                                                            <thead>
                                                              <tr>
                                                                <th>{% trans "Clause" %} </th>
                                                                <th style="width: 10%;">{% trans "%" %} </th>
                                                                <th style="width: 20%;">{% trans "Individual Capital" %} </th>
                                                              </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for rule in rules %}
                                                                    <tr data-status="all">
                                                                        <td>
                                                                            <div class="media-body">
                                                                                {{ rule.name }}
                                                                                {% if rule.percent > 0 %}
                                                                                    <td>{{ rule.percent }}</td>
                                                                                {% else %}
                                                                                    <td>{{ rule.fixing_text }}</td>
                                                                                {% endif %}
                                                                                <td  {% if not rule.value %}
                                                                                           class="deadline_set-0-rules-valueV"
                                                                                     {% else %}
                                                                                           class="deadline_set-0-rules-valueF"
                                                                                     {% endif %}
                                                                                >{{ rule.value }}
                                                                                </td>
                                                                                {% if not rule.value %}
                                                                                    <td class="hidden"><input name="deadline_set-0-rules-{{rule.pk }}-value" value="{{ deadline.rules.value|default_if_none:rule.value }}"class="deadline_set-0-rules-valueV"></td>
                                                                                {% else %}
                                                                                    <td class="hidden"><input name="deadline_set-0-rules-{{rule.pk }}-value" value="{{ deadline.rules.value|default_if_none:rule.value }}"class="deadline_set-0-rules-valueF"></td>
                                                                                {% endif %}
                                                                                <td class="hidden">
                                                                                    <input name="deadline_set-0-rules-{{rule.pk }}-name" value="{{ deadline.rules.name|default_if_none:rule.name }}" class ="deadline_set-0-rules-name">
                                                                                </td>
                                                                                <td class="hidden">
                                                                                    <input name="deadline_set-0-rules-{{rule.pk }}-percent" value="{{ deadline.rules.percent|default_if_none:rule.percent }}" class ="deadline_set-0-rules-percent">
                                                                                </td>
                                                                                <td class="hidden">
                                                                                    <input name="deadline_set-0-rules-{{rule.pk }}-rate" value="{{ deadline.rules.rate|default_if_none:rule.rate }}" class ="deadline_set-0-rules-rate">
                                                                                </td>
                                                                                <td class="hidden">
                                                                                    <input name="deadline_set-0-rules-{{rule.pk }}-fixing_text" value="{{ deadline.rules.fixing_text|default_if_none:rule.fixing_text }}" class ="deadline_set-0-rules-fixing_text">
                                                                                </td>
                                                                                <td class="hidden">
                                                                                    <input name="deadline_set-0-rules-{{rule.pk }}-type " value="{{ deadline.rules.type|default_if_none:rule.type }}" class ="deadline_set-0-rules-type">
                                                                                </td>
                                                                                <td class="hidden">
                                                                                    <input name="deadline_set-0-rules-{{rule.pk }}-rule" value="{{ deadline.rules.rule|default_if_none:rule.rule }}" class ="deadline_set-0-rules-rule">
                                                                                </td>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                        </div>
                    {% endif %}
                {% else %}
                    {% bootstrap_field deadlinesale.0.payment form_group_class='form-group col-md-6' %}
                    {% bootstrap_field deadlinesale.0.begin form_group_class='form-group col-md-3 mask-date' %}
                    {% bootstrap_field deadlinesale.0.end form_group_class='form-group col-md-3  mask-date' %}
                    {% bootstrap_field deadlinesale.0.proposal form_group_class='form-group col-md-6' %}
                    {% bootstrap_field deadlinesale.0.policy form_group_class='form-group col-md-6' %}
                {% endif %}
                <div class="col-md-12">
                    {% if not product.is_lead %}
                        {% if product.disclaimer %}
                            <div class="disclaimer">
                                <div class="space"></div>
                                <p><span class="fa fa-warning"> </span><b> {{ product.disclaimer }}</b></p>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                {{ deadlinesale.0.id }}
                {{ deadlinesale.0.sale }}

                {% for question in questiondeadline %}
                    {% if question.type_data = 'input' or question.type_data = 'link' or question.type_data = 'float' or question.type_data = 'percent' or question.type_data = 'date' or question.type_data = 'number'%}
                        <div class="form-group col-md-{{ question.col_width|default:'4'}}{% if question.is_required %} form-required{% endif %}">
                            <label class="control-label" for="{{ q_name }}">
                                {% if question.is_required %}
                                <strong>{{ question.name }}</strong>
                                {% else %}{{ question.name }}
                                {% endif %}
                            </label>
                            <input type="{% if question.type_data = 'number' %}number{% else %}text{% endif %}" name="q_resp-{{ question.pk }}" id="q_resp-{{ question.pk }}"
                                   title="{{ question.hint }}"
                                   placeholder="{{ question.name }}"
                                   class="form-control mask-{{ question.type_data }}"
                                   value="{{ question.value|default_if_none:question.default_value }}"
                                   {% if question.is_required %}required{% endif %}>
                        </div>
                    {% elif question.type_data = 'checkbox' %}
                        <div class="form-group col-md-{{ question.col_width|default:'4'}}{% if question.is_required %} form-required{% endif %}">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="q_resp-{{ question.pk }}"
                                           title="{{ question.hint }}"
                                           placeholder="{{ question.name }}"
                                           id="q_resp-{{ question.pk }}">
                                {% if question.is_required %}
                                    <strong>{{ question.name }}</strong>
                                {% else %}{{ question.name }}
                                {% endif %}

                                    </label>
                                </div>
                            </div>
                        {% elif question.type_data = 'select' %}
                            <div class="form-group col-md-{{ question.col_width|default:'4'}}{% if question.is_required %} form-required{% endif %}">
                                <label class="control-label" for="{{ q_name }}">
                                    {% if question.is_required %}
                                    <strong>{{ question.name }}</strong>
                                    {% else %}{{ question.name }}
                                    {% endif %}
                                </label>
                                <select title="{{ question.hint }}" class="form-control" name="q_resp-{{ question.pk }}"
                                        id="q_resp-{{ question.pk }}" {% if question.is_required %}required{% endif %}>
                                    <option value="">---------</option>
                                    {% for opt in question.domain_set.all %}
                                        <option value="{{ opt }}">{{ opt }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% elif question.type_data = 'text' %}
                            <div class="form-group col-md-12{% if question.is_required %} form-required{% endif %}">
                            <label class="control-label" for="{{ q_name }}">
                                {% if question.is_required %}
                                <strong>{{ question.name }}</strong>
                                {% else %}{{ question.name }}
                                {% endif %}
                            </label>
                            <textarea class="form-control" rows="3" name="q_resp-{{ question.pk }}" id="q_resp-{{ question.pk }}" {% if question.is_required %}required{% endif %}></textarea>
                            </div>
                        {% endif %}
                {% endfor %}
            </div>
{#                <div class="row">#}
{#                    <div class="col-md-12">#}
{#                        <h4>#}
{#                            {% trans 'Details' %}#}
{#                        </h4>#}
{#                    </div>#}
{#                    <div class="col-md-12">#}
{#                        <div id="detail_empty_form" style="display: none" class="row">#}
{#                            <div data-toggle="collapse" data-target="#{{ detail_deadline.empty_form.prefix }}-f"#}
{#                                 class="accordion-toggle col-md-10">#}
{#                                <div id="{{detail_deadline.empty_form.name.html_name}}-label">#}
{#                                    {% trans '(Empty)' as name_value %}#}
{#                                    {{ detail_deadline.empty_form.name.value|default_if_none:name_value }}#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="accordian-body collapse" id="{{ detail_deadline.empty_form.prefix }}-f">#}
{#                                {% for field in detail_deadline.empty_form %}#}
{#                                    <div class="col-md-4">#}
{#                                        {% bootstrap_field field %}#}
{#                                    </div>#}
{#                                {% endfor %}#}
{#                                <div class="col-md-12">#}
{#                                    <button data-toggle="collapse" data-target="#{{ detail_deadline.empty_form.prefix }}-f"#}
{#                                            type="button" class="btn btn-info accordion-toggle save-detail"#}
{#                                            updatelabel="{{ detail_deadline.empty_form.name.html_name }}">#}
{#                                        {% trans 'Save' %}#}
{#                                    </button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div id="detail_deadline">#}
{#                            {% for form in detail_deadline.forms %}#}
{#                                <div class="row" id="{{ form.prefix }}-row">#}
{#                                    <div data-toggle="collapse" data-target="#{{ form.prefix }}-f"#}
{#                                         class="accordion-toggle col-md-10">#}
{#                                        <div id="{{form.name.html_name}}-label">#}
{#                                            {% trans '(Empty)' as name_value %}#}
{#                                            {{ form.name.value|default_if_none:name_value }}#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="accordian-body collapse {% if not buyer.pk %} in {% endif %}" id="{{ form.prefix }}-f">#}
{#                                        {% for field in form %}#}
{#                                            <div class="col-md-4">#}
{#                                                {% bootstrap_field field %}#}
{#                                            </div>#}
{#                                        {% endfor %}#}
{#                                        <div class="col-md-12">#}
{#                                            <button data-toggle="collapse" data-target="#{{ form.prefix }}-f"#}
{#                                                    type="button" class="btn btn-info accordion-toggle save-detail"#}
{#                                                    updatelabel="{{ form.name.html_name }}">#}
{#                                                {% trans 'Save' %}#}
{#                                            </button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                        {{ detail_deadline.management_form }}#}
{#                    </div>#}
{#                </div>#}
            </div>

        {% endif %}

        <h2>{% trans 'Files' %}</h2>
        <div class="well">
            {# <div class="thumbnail col-md-3" style="display: none" id="file_empty_form"> #}
                {# <div class="caption"> #}
                    {# {% bootstrap_field filedeadline.empty_form.file_type %} #}
                    {# {% bootstrap_field filedeadline.empty_form.document layout="inline"%} #}
                {# </div> #}
            {# </div> #}
            {% if sample_file_type %}
                <h4>{% trans "Files to Download" %}</h4>
                <div class="row-flex">
                    {% for file in sample_file_type %}
                        <div class="thumbnail col-md-{{ sample_file_type_cols|default:'3' }}" id="{{ f.prefix }}-row">
                            <div class="caption text-center">
                                <h4 class="text-center">{{ file }}</h4>
                                <p>{{ file.short_desc }}</p>
                                <a href="{{file.document.url}}" role="button" class="btn btn-info" target="_blank">
                                    <span class="fa fa-file-o"></span> {% trans "Download" %}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <h4>{% trans "Uploaded files" %}
                {% if sale.pk and sale.deadline_set.all.0.status in user.group_permissions.status_edit.all %}
                    <button type="button" class="btn btn-success upload-file"
                            data-toggle="modal" data-target="#file-sale-modal">
                        <span class="fa fa-plus"></span>
                    </button>
                    <div class="clearfix"></div>
                {% endif %}
            </h4>
            <div class="row">
                <div class="col-md-3">
                    {% for file_type in product.file_type.all %}
                        <p> <span id="file_type_uploaded-{{file_type.pk}}" class="fa
                                {% if file_type in uploaded_file_types %}
                                    fa-check text-success
                                {% else %}
                                    fa-remove text-danger
                                {% endif %}
                            "></span>
                            {{ file_type }}
                        </p>
                    {% endfor %}
                </div>

                <div class="col-md-9">
                    {% if sale.pk %}
                        <div class="row-flex" id="uploaded_files">
                            <div class="hidden" id="empty_uploaded_file">
                                <div class="col-md-4 thumbnail">
                                    <div class="caption text-center">
                                        <h4>__file-type__</h4>
                                        <p>__file-type-txt__</p>
                                        <a href="__file-type-url__" role="button" class="btn btn-info" target="_blank">
                                            <span class="fa fa-file-o"></span> {% trans "Download" %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% for file in deadline.file_set.all %}
                                <div class="col-md-4 thumbnail">
                                    <div class="caption text-center">
                                        <h4>{{ file }}</h4>
                                        <p>
                                            {% trans "Uploaded by" %} <b>{{ file.uploaded_by }}</b>
                                            <small>{% trans "in" %} {{ file.upload_date }}</small>
                                        </p>
                                        {% if file.file_type in user.group_permissions.filetype_download.all %}
                                            <a href="{{file.document.url}}" role="button" class="btn btn-info" target="_blank">
                                                <span class="fa fa-file-o"></span> {% trans "Download" %}
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% empty %}
                                <div class="space"></div>
                                <div class="alert alert-info" role="alert" id="no-files-alert">
                                    <span class="fa fa-cloud-upload" aria-hidden="true"></span>
                                    <span class="sr-only">Info:</span>
                                    {% trans 'There is no Files in this Sale. Click on "+" button to upload files.' %}
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            <span class="fa fa-cloud-upload" aria-hidden="true"></span>
                            <span class="sr-only">Info:</span>
                            {% trans "You need to save the Sale to upload Files" %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {# {{ filedeadline.management_form }} #}
            {# <div id="filedeadline_formset"> #}
                {# <div class="row"> #}
                    {# {% for f in filedeadline %} #}
                        {# <div class="thumbnail col-md-3" id="{{ f.prefix }}-row"> #}
                            {# <div class="caption"> #}
                                {# {% bootstrap_field f.file_type %} #}
                                {# {% if f.document %} #}
                                    {# {{ f.document }} #}
                                {# {% else %} #}
                                    {# {% bootstrap_field filedeadline.empty_form.document layout="inline" %} #}
                                {# {% endif %} #}
                            {# </div> #}
                        {# </div> #}
                    {# {% empty %} #}
                        {# <div class="thumbnail" style="display:none"></div> #}
                    {# {% endfor %} #}
                {# </div> #}
            {# </div> #}
            {% if product.other_documents_declaration %}
                <div class="disclaimer">
                    <div class="space"></div>
                    <p><span class="fa fa-file-text"> </span><b> {{ product.other_documents_declaration }}</b></p>
                </div>
            {% endif %}
        </div>
        <div class="well">
            <div class="row">
                {% if not product.is_lead and product.full_declaration %}
                    <div class="modal-default">
                        <a href="#conditiosmodal"  data-toggle="modal">
                            <span class="fa fa-plus"> </span>
                            {% trans "Click to see more about the conditions of the product" %}
                        </a>
                        <div id="conditiosmodal" class="modal fade">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h1 class="modal-title">{% trans "Conditions" %}</h1>
                                    </div>
                                    <div class="modal-body">
                                        {% autoescape off %}{{ product.full_declaration }}{% endautoescape %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if not product.is_lead and product.declaration %}
                    <div class="modal-default">
                        <a href="#declarationmodal"  data-toggle="modal">
                            <span class="fa fa-plus"> </span>
                            {% trans "Click to read the declaration" %}
                        </a>
                        <div id="declarationmodal" class="modal fade">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h1 class="modal-title">{% trans "Conditions" %}</h1>
                                    </div>
                                    <div class="modal-body">
                                        {% autoescape off %}{{ product.declaration }}{% endautoescape %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if product.rules_declaration %}
                    <div class="disclaimer">
                        <div class="space"></div>
                        <p><b>* {{ product.rules_declaration }}</b></p>
                    </div>
                {% endif %}
                <div class="disclaimer">
                    {% bootstrap_field deadlinesale.0.accept_declaration form_group_class='' %}
                </div>
                <div class="space"></div>
                {% if sale.pk %}
{#                    <div class="col-md-12">#}
                        <div class="form-group">
{#                            <label for="new-status">{% trans "Action" %}:</label>#}
                            <select name="new-status" id="new-status" class="form-control">
                                <option value="">{% trans "Choose an action" %}</option>
                                {%  for status in possible_new_status %}
                                    <option value="{{ status.pk }}">{{ status.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
{#                    </div>#}
                {% endif %}
            </div>
        </div>

        {% if not sale.pk or sale.deadline_set.all.0.status in user.group_permissions.status_edit.all %}
            {% url 'index_view' as url %}
            {% include 'parts/submit-form.html' with url_cancel=url %}
        {% endif %}
    </form>
    {% if sale.pk %}
        <div class="modal fade" id="file-sale-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">{% trans "Upload File" %}</h4>
                    </div>
                    <div class="modal-body">
                        <form id="form-file-type" enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="deadline-pk" value="{{deadline.pk}}">
                            <div id="file-type-modal-error" class="alert alert-danger" role="alert" style="display: none"></div>
                            <div class="form-group">
                                <label for="new-status">{% trans "Change the Filetype" %}:</label>
                                <select name="file-type-pk" id="file-type-pk" class="form-control">
                                    <option value="">---{% trans "Select a Filetype" %}---</option>
                                    {% for filetype in product.file_type.all  %}
                                        {% if filetype not in uploaded_file_types %}
                                            <option value="{{ filetype.pk }}">{{ filetype }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="upload-file-form">
                                <input id="input-file-type" name="input-file-type" type="file" class="file-loading">
                                <div id="errorBlock" class="help-block"></div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                        <button type="button" class="btn btn-primary file-type-save">{% trans "Upload File" %}</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endif %}
{% endblock %}