{% extends 'base-sec.html' %}
{% load bootstrap3 %}
{% load i18n %}

{% block section-title %}{% trans 'Production' %}{% endblock %}
{% block section-id %}section-production{% endblock %}
{% block section-content %}
    <form id="entries-search-form">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="{% trans 'Search for a Sale' %}">
          <span class="input-group-btn">
            <button class="btn btn-info" type="submit">
                <span class="fa fa-search"></span>
            </button>
          </span>
        </div>
    </form>
    <div class="row">
        <div class="col-md-4"><strong>{% trans 'Buyer' %}</strong></div>
        <div class="col-md-4"><strong>{% trans 'Product' %}</strong></div>
        <div class="col-md-4"><strong>{% trans 'Status' %}</strong></div>
    </div>
    {% for sale in sales %}
        <div class="row">
            <a href="{% url 'product-edit-buyer' sale.product.pk sale.buyer.pk %}">
                <div class="col-md-4">{{ sale.buyer }}</div>
                <div class="col-md-4">{{ sale.product }}</div>
                <div class="col-md-4">{{ sale.status }}</div>
            </a>
        </div>
    {% endfor %}
{% endblock %}