{% extends "base-sec.html" %}
{% load i18n %}
{% load notifications_tags %}

{% block section-title %}{% endblock %}
{% block section-id %}{% endblock %}
{% block section-content %}
    <h3>{% trans "Notifications" %}</h3>
    <div class="well">
        {% for notification in notifications %}
            <div class="panel row">
                <div class="col-md-8">
                    <a href="{% url 'product-edit-buyer' notification.actor.sale.product.pk notification.actor.sale.buyer.pk %}">
                        {{ notification.verb }}
                    </a>
                </div>
            </div>
            {# <div class="row">{{ notification }} #}
        {% endfor %}
    </div>
{% endblock %}