{% extends 'base-sec.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block section-id %}{% endblock %}
{% block section-title %}
    {% if profile.pk %}
        {% trans 'Edit Role' %}
    {% else %}
        {% trans 'Create Role' %}
    {% endif %}
{% endblock %}
{% block section-content %}
    <form action="" method="post" xmlns="http://www.w3.org/1999/html">{% csrf_token %}
        {# <div class="container"> #}
                {% bootstrap_field form.name %}
            <div class="row">
                <div class="col-md-12">
                    <h4>{% trans "Permissions of Menu" %}</h4><hr />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group">
                        <input
                            type="checkbox"
                            name="{{ form.menu_products.html_name }}"
                            id="{{ form.menu_products.html_name }}"
                            autocomplete="off"
                            {% if form.menu_products.value %}checked{% endif %} />
                        <div class="btn-group ">
                            <label for="{{ form.menu_products.html_name }}" class="btn btn-primary ">
                                <span class="glyphicon glyphicon-ok "></span>
                                <span></span>
                            </label>
                            <label for="{{ form.menu_products.html_name }}" class="btn btn-primary active ">
                                {{ form.menu_products.label }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group">
                        <input
                            type="checkbox"
                            name="{{ form.menu_dashboard.html_name }}"
                            id="{{ form.menu_dashboard.html_name }}"
                            autocomplete="off"
                            {% if form.menu_dashboard.value %}checked{% endif %}/>
                        <div class="btn-group ">
                            <label for="{{ form.menu_dashboard.html_name }}" class="btn btn-primary ">
                                <span class="glyphicon glyphicon-ok "></span>
                                <span> </span>
                            </label>
                            <label for="{{ form.menu_dashboard.html_name }}" class="btn btn-primary active ">
                                {{ form.menu_dashboard.label }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group ">
                        <input type="checkbox" name="{{ form.menu_production.html_name }}" id="{{ form.menu_production.html_name }}" autocomplete="off"
                        {% if form.menu_production.value %}checked{% endif %}/>
                        <div class="btn-group ">
                            <label for="{{ form.menu_production.html_name }}" class="btn btn-primary ">
                                <span class="glyphicon glyphicon-ok "></span>
                                <span> </span>
                            </label>
                            <label for="{{ form.menu_production.html_name }}" class="btn btn-primary active ">
                                {{form.menu_production.label }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group ">
                        <input type="checkbox" name="{{ form.menu_entries.html_name }}" id="{{ form.menu_entries.html_name }}" autocomplete="off" {% if form.menu_entries.value %}checked{% endif %}/>
                        <div class="btn-group ">
                            <label for="{{ form.menu_entries.html_name }}" class="btn btn-primary ">
                                <span class="glyphicon glyphicon-ok "></span>
                                <span> </span>
                            </label>
                            <label for="{{ form.menu_entries.html_name }}" class="btn btn-primary active ">
                                {{ form.menu_entries.label }}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group ">
                            <input type="checkbox" name="{{ form.menu_entries_users.html_name }}" id="{{ form.menu_entries_users.html_name }}" autocomplete="off"
                            {% if form.menu_entries_users.value %}checked{% endif %}/>
                            <div class="btn-group ">
                                <label for="{{ form.menu_entries_users.html_name }}" class="btn btn-primary active ">
                                    <span class="glyphicon glyphicon-ok "></span>
                                    <span> </span>
                                </label>
                                <label for="{{ form.menu_entries_users.html_name }}" class="btn btn-default active ">
                                    {{ form.menu_entries_users.label }}
                                </label>
                            </div>
                        </div>
                        <div class="form-group ">
                            <input
                                type="checkbox"
                                name="{{ form.menu_entries_profiles.html_name }}"
                                id="{{ form.menu_entries_profiles.html_name }}"
                                autocomplete="off"
                                {% if form.menu_entries_profiles.value %}checked{% endif %} />
                            <div class="btn-group ">
                                <label for="{{ form.menu_entries_profiles.html_name }}" class="btn btn-primary active ">
                                    <span class="glyphicon glyphicon-ok "></span>
                                    <span> </span>
                                </label>
                                <label for="{{ form.menu_entries_profiles.html_name }}" class="btn btn-default active ">
                                    {{ form.menu_entries_profiles.label }}
                                </label>
                            </div>
                        </div>
                        <div class="form-group ">
                            <input type="checkbox"
                                name="{{ form.menu_entries_partners.html_name }}"
                                id="{{ form.menu_entries_partners.html_name }}"
                                autocomplete="off"
                            {% if form.menu_entries_partners.value %}checked{% endif %}/>
                            <div class="btn-group ">
                                <label for="{{ form.menu_entries_partners.html_name }}" class="btn btn-primary active ">
                                    <span class="glyphicon glyphicon-ok "></span>
                                    <span> </span>
                                </label>
                                <label for="{{ form.menu_entries_partners.html_name }}" class="btn btn-default active ">
                                    {{form.menu_entries_partners.label}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group ">
                            <input type="checkbox" name="{{ form.menu_entries_products.html_name }}" id="{{ form.menu_entries_products.html_name }}" autocomplete="off"
                            {% if form.menu_entries_products.value %}checked{% endif %}/>
                            <div class="btn-group ">
                                <label for="{{ form.menu_entries_products.html_name }}" class="btn btn-primary active ">
                                    <span class="glyphicon glyphicon-ok "></span>
                                    <span> </span>
                                </label>
                                <label for="{{ form.menu_entries_products.html_name }}" class="btn btn-default active ">
                                    {{ form.menu_entries_products.html_name }}
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group ">
                        <input type="checkbox" name="{{ form.menu_notification.html_name }}" id="{{ form.menu_notification.html_name }}" autocomplete="off" {% if form.menu_notification.value %}checked{% endif %}/>
                        <div class="btn-group ">
                            <label for="{{ form.menu_notification.html_name }}" class="btn btn-primary ">
                                <span class="glyphicon glyphicon-ok "></span>
                                <span> </span>
                            </label>
                            <label for="{{ form.menu_notification.html_name }}" class="btn btn-primary active ">
                                {{ form.menu_notification.label }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group ">
                        <input type="checkbox" name="{{form.menu_profile.html_name}}" id="{{form.menu_profile.html_name}}" autocomplete="off" {% if form.menu_profile.value %}checked
                        {% endif %} />
                        <div class="btn-group ">
                            <label for="{{form.menu_profile.html_name}}" class="btn btn-primary ">
                                <span class="glyphicon glyphicon-ok "></span>
                                <span> </span>
                            </label>
                            <label for="{{form.menu_profile.html_name}}" class="btn btn-primary active ">
                                {{ form.menu_profile.label }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            {{form.errors}}

            <div class="row">
                {% if products_j %}
                    <div class="col-md-12">
                        <h4>{% trans "For Companies" %}</h4>
                    </div>
                    {% for product in products_j %}
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group ">
                                <input  type="checkbox"
                                        name="{{ form.product.html_name }}"
                                        value="{{ product.pk }}"
                                        id="{{ form.product.html_name }}-{{ product.pk }}"
                                        autocomplete="off"
                                        {% if product.pk in form.product.value %}checked{% endif %}/>
                                <div class="btn-group ">
                                    <label for="{{ form.product.html_name }}-{{ product.pk }}"
                                            class="btn btn-primary " >
                                        <span class="glyphicon glyphicon-ok "></span>
                                        <span> </span>
                                    </label>
                                    <label for="{{ form.product.html_name }}-{{ product.pk }}"
                                            class="btn btn-default active ">
                                        {{ product.name }}
                                    </label>
                                </div>
                            </div>
                         </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="row">
                {% if products_f %}
                    <div class="col-md-12">
                        <h4>{% trans "For People" %}</h4>
                    </div>
                    {% for product in products_f %}
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group ">
                                <input  type="checkbox"
                                        name="{{ form.product.html_name }}"
                                        value="{{ product.pk }}"
                                        id="{{ form.product.html_name }}-{{ product.pk }}"
                                        autocomplete="off"
                                        {% if product.pk in form.product.value %}checked{% endif %}/>
                                <div class="btn-group ">
                                    <label for="{{ form.product.html_name }}-{{ product.pk }}"
                                            class="btn btn-primary " >
                                        <span class="glyphicon glyphicon-ok "></span>
                                        <span> </span>
                                    </label>
                                    <label for="{{ form.product.html_name }}-{{ product.pk }}"
                                            class="btn btn-default active ">
                                        {{ product.name }}
                                    </label>
                                </div>
                            </div>
                         </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="row">
                {% if form.status_see.field.choices %}
                    <div class="col-md-12">
                        <h4>{% trans "Status See" %}</h4>
                    </div>
                    <hr>
                    {% for v, opt in form.status_see.field.choices %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group ">
                                <input  type="checkbox"
                                        name="{{form.status_see.html_name}}"
                                        value="{{v}}"
                                        id="{{ form.status_see.html_name }}-{{ v }}" autocomplete="off"
                                        {% if v in form.status_see.value %}checked{% endif %}/>
                                <div class="btn-group ">
                                    <label for="{{ form.status_see.html_name }}-{{ v }}" class="btn btn-info ">
                                        <span class="glyphicon glyphicon-ok "></span>
                                        <span> </span>
                                    </label>
                                    <label for="{{ form.status_see.html_name }}-{{ v }}"
                                            class="btn btn-default active ">
                                            {{ opt }}
                                    </label>
                                </div>
                            </div>
                         </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="row">
                {% if form.status_edit.field.choices %}
                    <div class="col-md-12">
                        <h4>{% trans "Status Edit" %}</h4>
                    </div>
                    <hr>
                    {% for v, opt in form.status_edit.field.choices %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group ">
                                <input  type="checkbox"
                                        name="{{form.status_edit.html_name}}"
                                        value="{{v}}"
                                        id="{{ form.status_edit.html_name }}-{{ v }}" autocomplete="off"
                                        {% if v in form.status_edit.value %}checked{% endif %}/>
                                <div class="btn-group ">
                                    <label for="{{ form.status_edit.html_name }}-{{ v }}" class="btn btn-info ">
                                        <span class="glyphicon glyphicon-ok "></span>
                                        <span> </span>
                                    </label>
                                    <label for="{{ form.status_edit.html_name }}-{{ v }}"
                                            class="btn btn-default active ">
                                            {{ opt }}
                                    </label>
                                </div>
                            </div>
                         </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="row">
                {% if form.status_set.field.choices %}
                    <div class="col-md-12">
                        <h4>{% trans "Status Set" %}</h4>
                    </div>
                    <hr>
                    {% for v, opt in form.status_set.field.choices %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group ">
                                <input  type="checkbox"
                                        name="{{form.status_set.html_name}}"
                                        value="{{v}}"
                                        id="{{ form.status_set.html_name }}-{{ v }}" autocomplete="off"
                                        {% if v in form.status_set.value %}checked{% endif %}/>
                                <div class="btn-group ">
                                    <label for="{{ form.status_set.html_name }}-{{ v }}" class="btn btn-info ">
                                        <span class="glyphicon glyphicon-ok "></span>
                                        <span> </span>
                                    </label>
                                    <label for="{{ form.status_set.html_name }}-{{ v }}"
                                            class="btn btn-default active ">
                                            {{ opt }}
                                    </label>
                                </div>
                            </div>
                         </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="row">
                {% if form.profiles.field.choices %}
                    <div class="col-md-12">
                        <h4>{% trans "The user can see the production in those profiles" %}</h4>
                    </div>
                    <hr>
                    {% for v, opt in form.profiles.field.choices %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group ">
                                <input  type="checkbox"
                                        name="{{ form.profiles.html_name }}"
                                        value="{{ v }}"
                                        id="{{ form.profiles.html_name }}-{{v}}"
                                        autocomplete="off"
                                        {% if v in form.profiles.value %}checked{% endif %}/>
                                <div class="btn-group ">
                                    <label for="{{ form.profiles.html_name }}-{{v}}" class="btn btn-warning ">
                                        <span class="glyphicon glyphicon-ok "></span>
                                        <span class="glyphicon glyphicon-user "></span>
                                        <span> </span>
                                    </label>
                                    <label for="{{ form.profiles.html_name }}-{{v}}" class="btn btn-default active ">
                                        {{ opt }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="row">
                {% if form.filetype_see.field.choices %}
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h4>{% trans "Files See" %}</h4>
                    </div>
                    <hr>
                    {% for v, opt in form.filetype_see.field.choices %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group ">
                                <input  type="checkbox"
                                    name="{{ form.filetype_see.html_name }}"
                                    value="{{ v }}"
                                    id="{{ form.filetype_see.html_name }}-{{v}}"
                                    autocomplete="off"
                                    {% if v in form.filetype_see.value %}checked{% endif %}/>
                                <div class="btn-group ">
                                    <label for="{{ form.filetype_see.html_name }}-{{v}}" class="btn btn-info ">
                                        <span class="glyphicon glyphicon-ok "></span>
                                        <span class="glyphicon glyphicon-file "></span>
                                        <span> </span>
                                    </label>
                                    <label for="{{ form.filetype_see.html_name }}-{{v}}" class="btn btn-default active ">
                                        {{ form.filetype_see.html_name }}
                                    </label>
                                </div>
                            </div>
                         </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="row">
                {% if form.filetype_download.field.choices %}
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h4>{% trans "Files Download" %}</h4>
                    </div>
                    <hr>
                    {% for v, opt in form.filetype_download.field.choices %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group ">
                                <input  type="checkbox"
                                    name="{{ form.filetype_download.html_name }}"
                                    value="{{ v }}"
                                    id="{{ form.filetype_download.html_name }}-{{v}}"
                                    autocomplete="off"
                                    {% if v in form.filetype_download.value %}checked{% endif %}/>
                                <div class="btn-group ">
                                    <label for="{{ form.filetype_download.html_name }}-{{v}}" class="btn btn-info ">
                                        <span class="glyphicon glyphicon-ok "></span>
                                        <span class="glyphicon glyphicon-file "></span>
                                        <span> </span>
                                    </label>
                                    <label for="{{ form.filetype_download.html_name }}-{{v}}" class="btn btn-default active ">
                                        {{ form.filetype_download.html_name }}
                                    </label>
                                </div>
                            </div>
                         </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                {% trans "Save Role" as text_submit %}
                {% url 'entries-users' as url %}
                {% include 'parts/submit-form.html' with save_text=text_submit url_cancel=url %}
            </div>
    </form>
{% endblock %}
