{% extends 'base-sec.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block section-title %}
    <li><a href="/">{% trans 'Home' %}</a></li>
    <li><a href="/entries">{% trans 'Entries' %}</a></li>
    <li><a href="/entries/users">{% trans 'Users' %}</a></li>
    <li class="active">
        <b>
            {% if user_entrie %}
                {{ user_entrie }}
            {% else %}
                {% trans 'Create User' %}
            {% endif %}
        </b>
    </li>
{% endblock %}

{% block section-content %}
    <form action="" method="post" class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
        {% csrf_token %}
        {% bootstrap_form form %}


        {% trans "Save User" as text_submit %}
        {% url 'entries-users' as url %}
        {% include 'parts/submit-form.html' with save_text=text_submit url_cancel=url %}
    </form>
{% endblock %}