{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block extra_head %}
    {% if sale.pk %}
        <link href="{% static 'css/fileinput.css' %}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'page-sale-section.html' %}
{% endblock %}

{% block footer_scripts %}
    {% if sale.pk %}
        <script src="{% static 'js/fileinput.js' %}"></script>
    {% endif %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/jquery.mask.js' %}"></script>
    <script src="{% static 'js/custom-masks.js' %}"></script>
    <script type="text/javascript">

        // $(function() {
        //     $('#detail_deadline > div.row').formset({
        //         prefix: '{{ detail_deadline.prefix }}',
        //         formCssClass: 'detail_deadline_formset',
        //         addText: '<button type="button" class="btn btn-success pull-right"><span class="fa fa-plus"></span></button>',
        //         added: function(el){
        //             $(el).find('div.accordion-toggle').each(function(){
        //                 $(this).attr('data-target','#' + $(el).find('.collapse').attr('id'));
        //             });
        //         },
        //         formTemplate: '#detail_empty_form',
        //         deleteText: '<button type="button" class="btn btn-danger pull-right"><span class="fa fa-trash"></span></button>',
        //         deleteCssClass: 'pull-right col-md-2',
        //         extraClasses: ['row1', 'row2'],
        //         attrUpdate: ['id', 'name', 'for', 'data-target', 'updatelabel'],
        //         childElementSelector: 'input,select,textarea,label,div,button',
        //     })
        // });

        $(document).ready(function($) {
            $('.save-detail').click(function(){
                $('#' + $(this).attr('updatelabel') + '-label').html(
                    $('input[name="' + $(this).attr('updatelabel')+'"]').val()
                );
                $($(this).attr('data-target')).collapse();
            });
            $('.cep-auto input').blur(function(){
                $.ajax({
                  dataType: "json",
                  url: '//viacep.com.br/ws/' + $(this).val() + '/json/',
                  success: function(data){
                    $('#id_buyeraddress_set-0-street').val(data.logradouro);
                    $('#id_buyeraddress_set-0-district').val(data.bairro);
                    $('#id_buyeraddress_set-0-city').val(data.localidade);
                    $('#id_buyeraddress_set-0-state').val(data.uf);
                    $('#id_buyeraddress_set-0-number').focus();
                  }
                });
            });
            $('input.cpf_cnpj-auto').blur(function(){
                $.ajax({
                    url: '/api/user_cnpj/',
                    dataType: 'json',
                    data: {cpf_cnpj: $(this).val()},
                })
                .done(function(e) {

                    for(var key in e){
                        $('#id_'+key+', #id_buyeraddress_set-0-'+key).val(e[key])
                        // console.log(key, e[key]);
                    }
                })
                .fail(function(e) {
                    console.log(e)
                })
                .always(function() {
                    console.log("complete");
                });

            });
            function calculate() {
                var P = $('#id_deadline_set-0-payment').val();
                if(P === ""){
                     P =  0;
                }else{
                     P = P.replace(".","");
                     P = P.replace(".","");
                     P = P.replace(".","");
                     P = P.replace(",",".");
                     P = parseFloat(P);
                }
                var V = $('#id_deadline_set-0-lives').val();
                if (V===""){V=0}
                if (V === 0 || P === 0) {
                    $('#id_deadline_set-0-insured_capital').val(0).removeClass("float-success");
                    $('#id_deadline_set-0-rate_per_thousand').val(0).removeClass("float-success");

                    $('input.deadline_set-0-rules-valueV').val(0);
                    $('td.deadline_set-0-rules-valueV').html(0).removeClass("float-success");
                    $('td.deadline_set-0-rules-valueF').removeClass("float-warning");
                }
                else {
                    {# Vida Global OK #}
{#                    var CS = (P/(12*V))/0.03;#}
{#                    var TXS = (P/(CS))*1000;#}
{#                    var CSI = CS;#}
{#                    if (CSI>100000 & CS > 0){CSI=100000}#}

                    {# Vida Grupo #}
{#                    var CS = (P/(12*V))/0.03;#}
{#                    if (CS>100000){CS=100000}#}
{#                    var CSI = CS;#}
{#                    CS=CS*V;#}
{#                    var TXS = (P/(CS))*1000;#}

                    {# AP #}
                    var CS = (P/(12*V))/0.03;
                    if (CS>100000){CS=100000}
                    var CSI = CS;
                    CS=CS*V;
                    var TXS = (P/(CS))*1000;

                    CS  = parseFloat(CS).toFixed(2);
                    TXS = parseFloat(TXS).toFixed(2);
                    CSI = parseFloat(CSI).toFixed(2);

                    $('#id_deadline_set-0-insured_capital').val(CS).addClass("float-success");
                    $('#id_deadline_set-0-rate_per_thousand').val(TXS).addClass("float-success");

                    $('input.deadline_set-0-rules-valueV').val(CSI);
                    $('td.deadline_set-0-rules-valueV').html(CSI).addClass("float-success");
                    $('td.deadline_set-0-rules-valueF').addClass("float-warning");
                }

            }

            $('input#id_deadline_set-0-payment').blur(function(){
                calculate()
            });
            $('input#id_deadline_set-0-payment').keyup(function(){
                calculate()
            });
            $('select#id_deadline_set-0-lives').change(function(){
                calculate()
            });
            {% if sale.pk %}
                $("#input-file-type").fileinput({
                    uploadUrl: '/api/upload_media',
                    showUpload:false,
                    browseLabel: '{% trans "Select File" %}',
                    allowedFileExtensions: ["pdf", "docx", "doc", "xlsx", "xls",  "png", "jpeg", "jpg" ],
                });
                $('.file-type-save').click(function(){
                    form_data = new FormData($('#form-file-type')[0]);
                    $.ajax({
                        type: 'POST',
                        url:'/api/upload_media',
                        data: form_data,
                        async: false,
                        success:function(data){
                            if (data.error){
                                $('#file-type-modal-error')
                                    .html(data.msg)
                                    .show(500);

                                setTimeout(function(){$('#file-type-modal-error').hide(500)},6000)
                            }
                            else{
                                $('#file_type_uploaded-' + $('#file-type-pk').val())
                                    .removeClass('fa-remove text-danger')
                                    .addClass('fa-check text-success');
                                $('#uploaded_files').append(
                                    $('#empty_uploaded_file')
                                        .clone()
                                        .removeClass('hidden')
                                        .removeAttr('id')
                                        .html()
                                        .replace('__file-type__', $('#file-type-pk option:selected').text())
                                        .replace('__file-type-txt__', data.txt)
                                        .replace('__file-type-url__', data.url)
                                );
                                $('#file-sale-modal').modal('hide');
                                $('#no-files-alert').hide();
                            }
                        },
                        error:function(data){
                            console.log(data)
                        },
                        cache: false,
                        contentType: false,
                        processData: false
                    });
                });
            {% endif %}


            $("#sale-form :input").change(function() {
                $("#sale-form")
                    .submit(function(){
                        window.onbeforeunload = null;
                        return true;
                    })
                    .data("changed",true)
                    .find('button[type="submit"]')
                    .removeAttr('disabled');
                window.onbeforeunload = function(){
                   return "{% trans 'You have unsaved changes. Do you want to exit the page?' %}"
                }
            });
        });

        $(function() {
            $('#filedeadline_formset  .thumbnail').formset({
                prefix: '{{ filedeadline.prefix }}',
                formCssClass: 'file_deadline_formset',
                // formTemplate: '#file_empty_form',
                attrUpdate: ['id', 'name', 'for', 'data-target', 'updatelabel'],
                addText: '<button type="button" class="btn btn-success"><span class="fa fa-plus"></span></button>',
                deleteText: '<button type="button" class="btn btn-danger"><span class="fa fa-trash"></span></button>',

            })
        });
        // setTimeout(
        //   function() {
        //         $('form > h3, form .form-group').each(function(){
        //             a = Array('faa-ring animated', 'fa-spin', 'faa-ring animated faa-slow', 'faa-ring animated faa-fast')
        //             $(this).addClass(a[Math.floor(Math.random()*a.length)]);
        //         });
        //     }, 10000);
    </script>
{% endblock %}