{% extends 'base-sec.html' %}
{% load i18n %}

{% block section-title %}{{ user }}{% endblock %}

{% block section-content %}
    <form action="" method="post">{% csrf_token %}
        {{ form }}
        <ul class="list-group checked-list-box">
            {% for permission_group in permission_groups %}
                <li class="list-group-item">{{ permission_group.name }}</li>
            {% empty %}
                <li>what the heckt</li>
            {% endfor %}
        </ul>
        <button type="submit">{% trans 'Save User' %}</button>
    </form>
{% endblock %}