{% extends 'base-sec.html' %}

{% load i18n %}
{# formset 1 #}
{% load bootstrap3 %}
{% load account %}

{% block section-id %}page-sake-sec{% endblock %}
{% block section-title %}
    <li><a href="/">{% trans 'Home' %}</a></li>
    <li><a href="/">{% trans 'Products' %}</a></li>
    <li class="active"><b>{% trans 'Contract' %}</b></li>
{% endblock %}


{% block section-content %}
    <form action="" method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {% if product.pk %}
            <input type="hidden" name="productpk" value="{{ product.pk }}">
        {% endif %}
        <div class="well">
        <div class="row">
            <div class="col-md-6">
                <p><b>{% trans "Product" %}</b>: {{ product }}</p>
                <p><b>{% trans "Sale Owner" %}</b>: {{ sale.owner|default:user }}</p>
                <p><b>{% trans "Status" %}</b>: {{ status_deadline }}<br></p>
                {% if not product.is_lead %}
                    <p><b>{% trans "Insurance" %}</b>: {{ product.insurance_company.name }}<br></p>
                {% endif %}
            </div>
            {% if sale.pk %}
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="new-status">{% trans "Change to Status" %}:</label>
                        <select name="new-status" id="new-status" class="form-control">
                            <option value="">{% trans "Choice a new status" %}</option>
                            {%  for status in possible_new_status %}
                                <option value="{{ status.pk }}">{{ status.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endif %}
        </div>
        </div>
        <h3>{% trans 'Buyer' %}</h3>
        <div class="well">
            <div class="row">
                <input type="hidden" name="{{form.kind_person.html_name}}" value="{{product.kind_person}}">
                {% if product.kind_person == 'F' %}
                    <div class="form-group col-md-6 mask-cpf form-required">
                        <label class="control-label" for="id_{{form.cpf_cnpj.html_name}}">CPF</label>
                        <input class="form-control cpf_cnpj-auto"
                                id="id_{{form.cpf_cnpj.html_name}}"
                                maxlength="{{form.cpf_cnpj.max_length}}"
                                name="{{form.cpf_cnpj.html_name}}"
                                value="{{form.cpf_cnpj.value}}"
                                placeholder="CPF" required="required" title="" type="text">
                    </div>
                    {% bootstrap_field form.name form_group_class='form-group col-md-6' %}
                    {% bootstrap_field form.phone form_group_class='form-group col-md-6 mask-phone' %}
                    {% bootstrap_field form.email form_group_class='form-group col-md-6' %}
                {% else %}
                    <div class="form-group col-md-4 mask-cnpj form-required">
                        <label class="control-label" for="id_{{form.cpf_cnpj.html_name}}">CNPJ</label>
                        <input class="form-control cpf_cnpj-auto"
                                id="id_{{form.cpf_cnpj.html_name}}"
                                maxlength="{{form.cpf_cnpj.max_length}}"
                                name="{{form.cpf_cnpj.html_name}}"
                                value="{{form.cpf_cnpj.value}}"
                                placeholder="CNPJ" required="required" title="" type="text">
                    </div>
                    {% bootstrap_field form.responsible form_group_class='form-group col-md-4 form-required' %}
                    {% bootstrap_field form.activity_area form_group_class='form-group col-md-4 form-required' %}
                    {% bootstrap_field form.name form_group_class='form-group col-md-4' %}
                    {% bootstrap_field form.phone form_group_class='form-group col-md-4 mask-phone' %}
                    {% bootstrap_field form.email form_group_class='form-group col-md-4' %}
                {% endif %}
        </div>
    </div>
    <h3>{% trans 'Address' %}</h3>
    <div class="well">
        <div class="row">
            {{ addressbuyer.management_form }}
            {% bootstrap_field addressbuyer.0.postal_code form_group_class="form-group col-md-3 mask-cep cep-auto" %}
            {# <div class="clearfix"></div> #}
            {% bootstrap_field addressbuyer.0.state form_group_class="form-group col-md-3" %}
            {% bootstrap_field addressbuyer.0.city form_group_class="form-group col-md-3" %}
            {% bootstrap_field addressbuyer.0.district form_group_class="form-group col-md-3" %}
            {% bootstrap_field addressbuyer.0.street form_group_class="form-group col-md-6" %}
            {% bootstrap_field addressbuyer.0.number form_group_class="form-group col-md-3 mask-number" %}
            {% bootstrap_field addressbuyer.0.complement form_group_class="form-group col-md-3" %}
            {{ addressbuyer.0.id }}
            {{ addressbuyer.0.buyer }}
            {# {% for form in addressbuyer.forms %} #}
                {# {% for field in form %} #}
                    {# {% bootstrap_field field form_group_class='form-group col-md-4' %} #}
                {# {% endfor %} #}
            {# {% endfor %} #}
        </div>
    </div>
    {% if show_all %}
        <h3>{% if product.is_lead %}
                {% trans "Lead of" %}
            {% else %}
                {% trans "Quotation of" %}
            {% endif %}
            {{product}}
        </h3>
        <div class="well">
            <div class="row">
                {{ deadlinesale.management_form }}
                {% bootstrap_field deadlinesale.0.payment form_group_class='form-group col-md-6' %}
                {% bootstrap_field deadlinesale.0.begin form_group_class='form-group col-md-3 mask-date' %}
                {% bootstrap_field deadlinesale.0.end form_group_class='form-group col-md-3  mask-date' %}
                {% if not product.is_lead %}
                    {% bootstrap_field deadlinesale.0.method_payment form_group_class='form-group col-md-6' %}
                    {% bootstrap_field deadlinesale.0.proposal form_group_class='form-group col-md-3' %}
                    {% bootstrap_field deadlinesale.0.policy form_group_class='form-group col-md-3' %}
                {% else %}
                    {% bootstrap_field deadlinesale.0.proposal form_group_class='form-group col-md-6' %}
                    {% bootstrap_field deadlinesale.0.policy form_group_class='form-group col-md-6' %}
                {% endif %}
                <div class="col-md-12">
                    {% if not product.is_lead %}
                        {% if product.disclaimer %}
                            <div class="disclaimer">
                                <div class="space"></div>
                                <p><span class="fa fa-warning"> </span><b> {{ product.disclaimer }}</b></p>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                {{ deadlinesale.0.id }}
                {{ deadlinesale.0.sale }}

                {% for question in questiondeadline %}
                    {% if question.type_data = 'input' or question.type_data = 'link' or question.type_data = 'float' or question.type_data = 'percent' or question.type_data = 'date' or question.type_data = 'number'%}
                        <div class="form-group col-md-{{ question.col_width|default:'4'}}{% if question.is_required %} form-required{% endif %}">
                            <label class="control-label" for="{{ q_name }}">
                                {% if question.is_required %}
                                <strong>{{ question.name }}</strong>
                                {% else %}{{ question.name }}
                                {% endif %}
                            </label>
                            <input type="{% if question.type_data = 'number' %}number{% else %}text{% endif %}" name="q_resp-{{ question.pk }}" id="q_resp-{{ question.pk }}"
                                   title="{{ question.hint }}"
                                   placeholder="{{ question.name }}"
                                   class="form-control mask-{{ question.type_data }}"
                                   value="{{ question.value|default_if_none:question.default_value }}"
                                   {% if question.is_required %}required{% endif %}>
                        </div>
                    {% elif question.type_data = 'checkbox' %}
                        <div class="form-group col-md-{{ question.col_width|default:'4'}}{% if question.is_required %} form-required{% endif %}">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="q_resp-{{ question.pk }}"
                                           title="{{ question.hint }}"
                                           placeholder="{{ question.name }}"
                                           id="q_resp-{{ question.pk }}">
                                {% if question.is_required %}
                                    <strong>{{ question.name }}</strong>
                                {% else %}{{ question.name }}
                                {% endif %}

                                    </label>
                                </div>
                            </div>
                        {% elif question.type_data = 'select' %}
                            <div class="form-group col-md-{{ question.col_width|default:'4'}}{% if question.is_required %} form-required{% endif %}">
                                <label class="control-label" for="{{ q_name }}">
                                    {% if question.is_required %}
                                    <strong>{{ question.name }}</strong>
                                    {% else %}{{ question.name }}
                                    {% endif %}
                                </label>
                                <select title="{{ question.hint }}" class="form-control" name="q_resp-{{ question.pk }}"
                                        id="q_resp-{{ question.pk }}" {% if question.is_required %}required{% endif %}>
                                    <option value="">---------</option>
                                    {% for opt in question.domain_set.all %}
                                        <option value="{{ opt }}">{{ opt }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% elif question.type_data = 'text' %}
                            <div class="form-group col-md-12{% if question.is_required %} form-required{% endif %}">
                            <label class="control-label" for="{{ q_name }}">
                                {% if question.is_required %}
                                <strong>{{ question.name }}</strong>
                                {% else %}{{ question.name }}
                                {% endif %}
                            </label>
                            <textarea class="form-control" rows="3" name="q_resp-{{ question.pk }}" id="q_resp-{{ question.pk }}" {% if question.is_required %}required{% endif %}></textarea>
                            </div>
                        {% endif %}
                {% endfor %}
            </div>
{#                <div class="row">#}
{#                    <div class="col-md-12">#}
{#                        <h4>#}
{#                            {% trans 'Details' %}#}
{#                        </h4>#}
{#                    </div>#}
{#                    <div class="col-md-12">#}
{#                        <div id="detail_empty_form" style="display: none" class="row">#}
{#                            <div data-toggle="collapse" data-target="#{{ detail_deadline.empty_form.prefix }}-f"#}
{#                                 class="accordion-toggle col-md-10">#}
{#                                <div id="{{detail_deadline.empty_form.name.html_name}}-label">#}
{#                                    {% trans '(Empty)' as name_value %}#}
{#                                    {{ detail_deadline.empty_form.name.value|default_if_none:name_value }}#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="accordian-body collapse" id="{{ detail_deadline.empty_form.prefix }}-f">#}
{#                                {% for field in detail_deadline.empty_form %}#}
{#                                    <div class="col-md-4">#}
{#                                        {% bootstrap_field field %}#}
{#                                    </div>#}
{#                                {% endfor %}#}
{#                                <div class="col-md-12">#}
{#                                    <button data-toggle="collapse" data-target="#{{ detail_deadline.empty_form.prefix }}-f"#}
{#                                            type="button" class="btn btn-info accordion-toggle save-detail"#}
{#                                            updatelabel="{{ detail_deadline.empty_form.name.html_name }}">#}
{#                                        {% trans 'Save' %}#}
{#                                    </button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div id="detail_deadline">#}
{#                            {% for form in detail_deadline.forms %}#}
{#                                <div class="row" id="{{ form.prefix }}-row">#}
{#                                    <div data-toggle="collapse" data-target="#{{ form.prefix }}-f"#}
{#                                         class="accordion-toggle col-md-10">#}
{#                                        <div id="{{form.name.html_name}}-label">#}
{#                                            {% trans '(Empty)' as name_value %}#}
{#                                            {{ form.name.value|default_if_none:name_value }}#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="accordian-body collapse {% if not buyer.pk %} in {% endif %}" id="{{ form.prefix }}-f">#}
{#                                        {% for field in form %}#}
{#                                            <div class="col-md-4">#}
{#                                                {% bootstrap_field field %}#}
{#                                            </div>#}
{#                                        {% endfor %}#}
{#                                        <div class="col-md-12">#}
{#                                            <button data-toggle="collapse" data-target="#{{ form.prefix }}-f"#}
{#                                                    type="button" class="btn btn-info accordion-toggle save-detail"#}
{#                                                    updatelabel="{{ form.name.html_name }}">#}
{#                                                {% trans 'Save' %}#}
{#                                            </button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                        {{ detail_deadline.management_form }}#}
{#                    </div>#}
{#                </div>#}
            </div>
        {% endif %}

        <h3>{% trans 'Attachements' %}</h3>
        <div class="well">
            <div class="thumbnail col-md-3" style="display: none" id="file_empty_form">
                <div class="caption">
                    {% bootstrap_field filedeadline.empty_form.file_type %}
                    {% bootstrap_field filedeadline.empty_form.document layout="inline"%}
                </div>
            </div>
            {{ filedeadline.management_form }}
            <div id="filedeadline_formset">
                <div class="row">
                    {% for f in filedeadline %}
                        <div class="thumbnail col-md-3" id="{{ f.prefix }}-row">
                            <div class="caption">
                                {% bootstrap_field f.file_type %}
                                {% if f.document %}
                                    {{ f.document }}
                                {% else %}
                                    {% bootstrap_field filedeadline.empty_form.document layout="inline" %}
                                {% endif %}
                            </div>
                        </div>
                    {% empty %}
                        <div class="thumbnail" style="display:none"></div>
                    {% endfor %}
                </div>
            </div>
            {% if product.other_documents_declaration %}
                <div class="disclaimer">
                    <div class="space"></div>
                    <p><span class="fa fa-file-text"> </span><b> {{ product.other_documents_declaration }}</b></p>
                </div>
            {% endif %}
        </div>
        <div class="well">
            <div class="row">
                {% if not product.is_lead and product.full_declaration %}
                    <div class="modal-default">
                        <a href="#conditiosmodal"  data-toggle="modal">
                            <span class="fa fa-plus"> </span>
                            {% trans "Click to see more about the conditions of the product" %}
                        </a>
                        <div id="conditiosmodal" class="modal fade">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h1 class="modal-title">{% trans "Conditions" %}</h1>
                                    </div>
                                    <div class="modal-body">
                                        {% autoescape off %}{{ product.full_declaration }}{% endautoescape %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if not product.is_lead and product.declaration %}
                    <div class="modal-default">
                        <a href="#declarationmodal"  data-toggle="modal">
                            <span class="fa fa-plus"> </span>
                            {% trans "Click to read the declaration" %}
                        </a>
                        <div id="declarationmodal" class="modal fade">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h1 class="modal-title">{% trans "Conditions" %}</h1>
                                    </div>
                                    <div class="modal-body">
                                        {% autoescape off %}{{ product.declaration }}{% endautoescape %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if product.rules_declaration %}
                    <div class="disclaimer">
                        <div class="space"></div>
                        <p><b>* {{ product.rules_declaration }}</b></p>
                    </div>
                {% endif %}
                <div class="disclaimer">
                    {% bootstrap_field deadlinesale.0.accept_declaration form_group_class='' %}
                </div>
            </div>
        </div>
        {% if not sale.pk or sale.deadline_set.all.0.status in user.group_permissions.status_edit.all %}
            {% url 'index_view' as url %}
            {% include 'parts/submit-form.html' with url_cancel=url %}
        {% endif %}
    </form>
{% endblock %}