{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    {% include 'page-sale-section.html' %}
{% endblock %}

{% block footer_scripts %}
    {# <script src="{% static 'js/modal-formset.js' %}"></script> #}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/jquery.mask.js' %}"></script>
    <script src="{% static 'js/custom-masks.js' %}"></script>
    <script type="text/javascript">

        $(function() {
            $('#detail_deadline > div.row').formset({
                prefix: '{{ detail_deadline.prefix }}',
                formCssClass: 'detail_deadline_formset',
                addText: '<button type="button" class="btn btn-success pull-right"><span class="fa fa-plus"></span></button>',
                added: function(el){
                    $(el).find('div.accordion-toggle').each(function(){
                        $(this).attr('data-target','#' + $(el).find('.collapse').attr('id'));
                    });
                },
                formTemplate: '#detail_empty_form',
                deleteText: '<button type="button" class="btn btn-danger pull-right"><span class="fa fa-trash"></span></button>',
                deleteCssClass: 'pull-right col-md-2',
                extraClasses: ['row1', 'row2'],
                attrUpdate: ['id', 'name', 'for', 'data-target', 'updatelabel'],
                childElementSelector: 'input,select,textarea,label,div,button',
            })
        });

        $(document).ready(function($) {
            $('.save-detail').click(function(){
                $('#' + $(this).attr('updatelabel') + '-label').html(
                    $('input[name="' + $(this).attr('updatelabel')+'"]').val()
                );
                $($(this).attr('data-target')).collapse();
            });
            $('.cep-auto input').blur(function(){
                $.ajax({
                  dataType: "json",
                  url: '//viacep.com.br/ws/' + $(this).val() + '/json/',
                  success: function(data){
                    $('#id_buyeraddress_set-0-street').val(data.logradouro);
                    $('#id_buyeraddress_set-0-district').val(data.bairro);
                    $('#id_buyeraddress_set-0-city').val(data.localidade);
                    $('#id_buyeraddress_set-0-state').val(data.uf);
                    $('#id_buyeraddress_set-0-number').focus();
                  }
                });
            });
            $('input.cpf_cnpj-auto').blur(function(){
                $.ajax({
                    url: '/api/user_cnpj/',
                    dataType: 'json',
                    data: {cpf_cnpj: $(this).val()},
                })
                .done(function(e) {

                    for(var key in e){
                        $('#id_'+key+', #id_buyeraddress_set-0-'+key).val(e[key])
                        // console.log(key, e[key]);
                    }
                })
                .fail(function(e) {
                    console.log(e)
                })
                .always(function() {
                    console.log("complete");
                });

            });
        });
        $(function() {
            $('#filedeadline_formset  .thumbnail').formset({
                prefix: '{{ filedeadline.prefix }}',
                formCssClass: 'file_deadline_formset',
                formTemplate: '#file_empty_form',
                attrUpdate: ['id', 'name', 'for', 'data-target', 'updatelabel'],
                addText: '<button type="button" class="btn btn-success"><span class="fa fa-plus"></span></button>',
                deleteText: '<button type="button" class="btn btn-danger"><span class="fa fa-trash"></span></button>',
            })
        });
        // setTimeout(
        //   function() {
        //         $('form > h3, form .form-group').each(function(){
        //             a = Array('faa-ring animated', 'fa-spin', 'faa-ring animated faa-slow', 'faa-ring animated faa-fast')
        //             $(this).addClass(a[Math.floor(Math.random()*a.length)]);
        //         });
        //     }, 10000);
    </script>
{% endblock %}