{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    {% include 'page-entries-user-section.html' %}
{% endblock %}

<!--ul class="permissions">
    <li>For tela in telas (View, Edit, Delete)</li>
    <li>Venda Arquivos que o usuário<small><small><small><small>de crack</small></small></small></small></li>
    <li>Venda Status -> Ver</li>
    <li>Venda Status -> Editar</li>
    <li>Venda Status -> Atribuir (range de status que o usuário pode atribuir para o que ele puder editar)</li>
    <li>Produtos - Ver</li>
    <li>Produtos - Vender</li>
    <li></li>
</ul-->